node_modules
*.log
*.lock
*.swp
.vscode/
__tests/
coverage/
cypress/
dist/
node_modules/
public/
temp/
tmp/
yarn-error.log
yarn-debug.log
.git
.gitignore
.gitattributes
.gitmodules
.hg
.hgignore
.hgsub
.hgsubstate
.svn
CVS
.idea/
*.suo
*.user
*.sln.docstates
thumbs.db
*~
.DS_Store
